html {
    font-size: $font-size-base;
    font-family: $font-main;
}

h1 {
    font-size: $font-size-supermega;
    line-height: $font-size-supermega;
    font-weight: 900;
}

h2 {
    font-size: $font-size-mega;
    line-height: $font-size-mega;
    font-weight: 700;
}

h3 {
    font-size: $font-size-base;
}