// Размеры экрана
$max-screen-width: 1920;
$min-screen-width: 280;

// Цвета
$text-color: #2E292A;
$text-second-color: #fff;

$background-color: #fff;
$background-second-color: #2E292A;

$card-content-color: #1c1b1bcc;
$card-accent-color: #47b198;

// Шрифты
$font-main: 'Montserrat', sans-serif;

// Размеры шрифтов
$font-size-base: 25px;
$font-size-main: 1rem;
$font-size-large: 2rem;
$font-size-big: 3rem;
$font-size-mega: 4rem;
$font-size-supermega: 10rem;
