.hall {
    height: 80dvh;
    margin: 50px auto;
    padding-inline: 20px;

    &__cards {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        flex-grow: 1;
        transition: flex-grow 0.3s ease-in-out;
        height: 430px;

        &:first-of-type {
            background: linear-gradient(0deg, rgba(230, 120, 18, 0.49), rgba(230, 120, 18, 0.49)), url("../img/back_to_the_future.png") center/cover no-repeat;
        }

        &:nth-of-type(2){
            background: linear-gradient(0deg, rgba(39, 177, 221, 0.54), rgba(39, 177, 221, 0.54)), url("../img/forest_g.png") center/cover no-repeat;
        }
        
        &:nth-of-type(3){
            background: linear-gradient(0deg, rgba(69, 187, 131, 0.24), rgba(69, 187, 131, 0.24)), url("../img/matrix.png") center/cover no-repeat;
        }
        
        &:nth-of-type(4){
            background: linear-gradient(0deg, rgba(69, 104, 228, 0.53), rgba(69, 104, 228, 0.53)), url("../img/star_wars.png") center/cover no-repeat;
        }
        
        &:last-of-type{
            background: linear-gradient(0deg, rgba(238, 184, 45, 0.59), rgba(238, 184, 45, 0.59)), url("../img/lotr.png") center/cover no-repeat;
        }
    
        &:hover{
            flex-grow: 10;
            background-position: top;
        }
    }

}

